<%= form_for @changeset, @action, [class: "post"], fn f -> %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
    <%= text_input f, :email %>
    <%= error_tag f, :email %>
    <%= textarea f, :body %>
    <%= error_tag f, :body %>
    <%= if assigns[:thread] do %>
        <%= hidden_input f, :parent_id, [value: hd(@thread).id] %>
    <% end %>
    <%= submit "Post" %>
<% end %>
