<%= form_for @changeset, @action, [class: "post"], fn f -> %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
    <%= text_input f, :email %>
    <%= error_tag f, :email %>
    <%= textarea f, :body %>
    <%= error_tag f, :body %>
    <%= submit "New Thread" %>
<% end %>
