<%= if @action == "show" do %>
    <%= link "« Go Back", to: thread_path(@conn, :index, @board.slug), class: "return" %>
<% end %>
<hr>
<div class="thread">
    <%= for post <- @thread do %>
        <%= render "post.html",
            conn: @conn,
            board: @board,
            thread: @thread,
            post: post,
            action: @action %>
    <% end %>
</div>
