$postBackground:#D6F0E4;
$highlightBackground:#a9d8ff;
$postBorderColor: #b6dbdc;
$omittedColor: #5d5d5d;
$nameColor:#117743;

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin:0;
    margin-top:2rem;
}

.content {
    margin: 0 1rem;
}

.home, h1, a.catalog {
    display:block;
    text-align:center;
}

.home h1 img {
    position:relative;
    top:15px;
}

a.catalog {
    margin-bottom:1rem;
}

.boardlist {
    position:fixed;
    top:0;
    width:100vw;
    border-bottom:1px solid #ddd;
    background:white;

    ul {
        list-style:none;
        padding:0;
        margin:0;
    }

    li {
        display:inline;
    }

    a {
        display:inline-block;
        padding:2px;
    }
}

form.post {
    display:flex;
    flex-direction:column;
    max-width:400px;
    margin:0 auto;
    margin-bottom:1rem;

    input, textarea {
        margin-bottom:2px;
    }

    textarea {
        resize:vertical;
        height:4rem;
        padding:0.5rem 0;
    }

    input[type=submit] {
        margin-top: 1rem;
    }
}

a.return {
    display:inline-block;
    margin-top: 0;
    margin-bottom:0.5rem;
}

.thread {
    clear:both;

    .file:not(.multifile) .thumb {
        float: left;
    }

    div.files {
        display:block;
        
        img.thumb {
            display:block;
            margin-right:0.5rem;
            float:left;
        }

        a {
            float:left;
        }

        img.full-image {
            max-width:calc(100vw - 3rem - 1px);
            margin-right:0;
        }
    }
}

div.post {
    padding:0.5rem;
    padding-top:0.8rem;
    padding-left:0;

    &.op {
        display:inline;
    }

    &.reply {
        padding:0.5rem;
        background: $postBackground;
        border-width: 1px;
        border-style: none solid solid none;
        border-color: $postBorderColor;
        margin-bottom:0.5rem;
        display:inline-block;
    }

    &.reply:target {
        background:$highlightBackground;
    }

    p.info {
        width:auto;
        display:block;
        margin:0;
    }

    span.name {
        font-weight:bold;
        color:$nameColor;
    }

    time {
        color: $omittedColor;
        font-size:80%;
    }

    p.omitted {
        color:$omittedColor;
    }

    a.viewthread {
        display:inline-block;
        clear:both;
        margin-bottom:0.5rem;
    }

    .body {
        margin-top:.8rem;
    }
}

hr {
    border:none;
    border-top:1px solid #ccc;
    width:calc(100% - 2rem);
    height:0;
    float:left;
    clear:left;
}

hr:first-of-type {
    display:none;
}

.hidden {
    display:none !important;
}

ul.pages {
    clear:both;
    list-style:none;
    padding:0;
    
    li {
        display:inline-block;
    }
}

div.catalog {
    display:flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:center;

    a.post {
        display:block;
        border:1px solid #eee;
        padding:1rem;
        margin:0.25rem;
        text-decoration:none;
        color:black;
        overflow:auto;
        width:200px;
        max-height:250px;

        &:hover {
            border:1px solid $highlightBackground;
            background:$postBackground;
        }
    }

    div.files {
    }
}

@import "favela.scss";
