<nav class="boardlist">
    <ul>
        <li><a href="/">Home</a></li>
        <%= for board <- @boards do %>
            <li><a href="/<%= board.slug %>/">/<%= board.slug %>/</a></li>
        <% end %>
    </ul>
</nav>
